{% extends "modul__base_yeni.html" %}
{% block styles %}


{% endblock %}


{% block title %}HızlıKredi | En Hızlı Taşıt Kredisi{% endblock %}



{% block content %}
<div class="card-rounded bg-light d-flex flex-wrap p-5 mb-5">
    <div class="row w-100 align-items-center">
      <div class="col-lg-2 mb-2 mb-lg-0">
        
        <label for="" class="form-label">Başlangıç</label>
        <input class="form-control" type="month" id="start" name="start">
    </div><div class="col-lg-2 mb-2 mb-lg-0">

        <label for="" class="form-label">Bitiş</label>
        <input  class="form-control"  type="month" id="end" name="end">
    </div><div class="col-lg-2 mb-2 mb-lg-0">
        <label for="" class="form-label">Hazır Seçenekler</label>
        <select class="form-select" data-control="select2" id="select">
            <option value="1">Son 1 Ay</option>
            <option value="3">Son 3 Ay</option>
            <option value="6">Son 6 Ay</option>
            <option value="12">Son 1 Yıl</option>
        </select>
      </div>
      <div class="col-lg-3 mb-3 mb-lg-0">
        <!--begin::Nav-->
        <ul class="nav flex-wrap border-transparent fw-bold" style="width: 250px !important"><!-- Add inline CSS to set the width -->
            <!--begin::Nav item-->
            <li class="nav-item my-1">
                <select class="form-select" data-control="select2" id="city_selector">
                    <option value="Tüm">Tüm Şehirler</option>
                </select>
            </li>
            <!--end::Nav item-->
        </ul>
        <!--end::Nav-->
      </div>
      
    </div>
  </div>
  
  


<div class="py-5">
    <div id="chart_div"></div>
</div>
<div id="table_div" class="py-5"></div>


<canvas id="chart"></canvas>

{% endblock %}



{% block scripts %} 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['corechart', 'table']});
        google.charts.setOnLoadCallback(drawCharts);

        let isFunctionExecuted = false;
        
        function drawCharts(selectedCity) {
            $.ajax({
                url: "/veriler",
                type: "GET",
                success: function(data){
                    
                    // ilk tum sehirler bilgisini al ve selectboxa ekle
                    if (!isFunctionExecuted) {
                        var uniqueCities = [];
      
                        for(var key in data){
                            if(uniqueCities.indexOf(data[key].sehir) === -1){
                            uniqueCities.push(data[key].sehir);
                            }
                        }
                        
                        for(var i=0; i<uniqueCities.length; i++) {
                            $('#city_selector').append($('<option>').text(uniqueCities[i]).attr('value', uniqueCities[i]));
                        }
                        
                        // Değişkeni true olarak ayarlayın.
                        isFunctionExecuted = true;
                    }
                    
                    // sehirlerin bilgisini suz
                    var filteredData = {};
                    console.log(selectedCity)
                    if (selectedCity === undefined || selectedCity==='Tüm') {
                        filteredData = data;
                    } else {
                        for(var key in data){
                            if(data[key].sehir === selectedCity){
                                filteredData[key] = data[key];
                            }
                        }
                    }
                    
                    var tarihler = Object.keys(filteredData); // ["01", "03"]
                    var veriler = tarihler.map(function(tarih){ return filteredData[tarih]; });
                    
                    // Google Charts için veri hazırlama.
                    var artan_paralar = veriler.map(function(veri){ return [veri.tarih, veri.artan_para]; });
                    
                    var tableData = veriler.map(function(veri){
                    return [veri.tarih, 
                            veri.sehir,
                            veri.kredi_adedi.toLocaleString(), 
                            veri.komisyon_geliri.toLocaleString() + ' TL', 
                            veri.harcama.toLocaleString() + ' TL', 
                            veri.artan_para.toLocaleString() + ' TL'];
                    });

                    console.log(tableData)
                    
                    // Çizgi grafiği oluşturun.
                    var chartData = new google.visualization.DataTable();
                    chartData.addColumn('string', 'Tarih');
                    chartData.addColumn('number', 'Artan Para');
                    
                    // eger tum sehirler seciliyse her tarihteki artan paralari topla. grafik icin
                    if (selectedCity === undefined || selectedCity==='Tüm') {
                        var artan_paralar = veriler.reduce(function(acc, veri) {
                            var index = acc.findIndex(function(item) {
                                return item[0] === veri.tarih;
                            });
                            if(index === -1) {
                                acc.push([veri.tarih, veri.artan_para]);
                            } else {
                                acc[index][1] += veri.artan_para;
                            }
                            return acc;
                            }, []);
                    } 
                    
                    chartData.addRows(artan_paralar);

                    //çizgi grafik
                    google.charts.load('current', { 
                        'packages': ['corechart', 'line', 'material'], 
                        'language': 'tr' 
                    });

                    
                    var chartOptions = {
                        title: 'Artan Para',
                        titleTextStyle: {
                            fontSize: 24,
                            bold: true, 
                            color: 'black' // siyah renk eklendi
                        },
                        hAxis: { title: 'Tarih' },
                        vAxis: {
                            format: '# TL',
                            viewWindow: {
                                min: 0,
                                max: 'auto'
                            }
                        },
                        theme: 'material',
                    };
                    

                    
                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(chartData, chartOptions);
                    
                    // veri tablosu
                    var options1 = {
                        backgroundColor: "#f9f9f9",
                        showRowNumber: false,
                        width: '100%',
                        height: '100%',
                        textStyle: {color: '#333', fontSize: 16, fontName: 'Arial'},
                        headerStyle: {backgroundColor: '#00A0E9', fontSize: 20, color: '#fff', padding: '10px 20px'},
                        alternatingRowStyle: {backgroundColor: '#E7F1F5'},
                        cssClassNames: {
                            headerRow: 'header-row',
                            tableRow: 'table-row',
                            oddTableRow: 'odd-table-row',
                            selectedTableRow: 'selected-table-row',
                            hoverTableRow: 'hover-table-row',
                            headerCell: 'header-cell',
                            tableCell: 'table-cell'
                        }
                    };

                    var table = new google.visualization.Table(document.getElementById('table_div'));
                    table.draw(google.visualization.arrayToDataTable([['Tarih','Şehir','Kredi Adedi', 'Komisyon Geliri', 'Harcama', 'Artan Para']].concat(tableData)), options1);


                }
            });
        }
    </script>




<script>
  $(document).ready(function() {
    drawCharts();
  });

  function drawCharts(selectedCity) {
    $.getJSON("/veriler", function(data) {
      // İlk tüm şehirler bilgisini al ve selectboxa ekle
      if (!selectedCity) {
        for (var key in data) {
          var city = data[key].sehir;

          $('#city_selector').append($('<option>').text(city).attr('value', city));
        }
      }

      // Şehirlere göre filtreleme yap.
      var filteredData = {};
      if (selectedCity === "all" || !selectedCity) {
        filteredData = data;
      } else {
        for (var key in data) {
          if (data[key].sehir === selectedCity) {
            filteredData[key] = data[key];
          }
        }
      }

      var labels = [];
      var artan_para_data = [];
      var harcama_data = [];
      var komisyon_geliri_data = [];

      for (var key in filteredData) {
        var item = filteredData[key];

        labels.push(item.tarih);
        artan_para_data.push(item.artan_para);
        harcama_data.push(item.harcama);
        komisyon_geliri_data.push(item.komisyon_geliri);
      }

      // Grafiği oluştur.
      var ctx = document.getElementById('chart').getContext('2d');
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [{
            label: 'Artan Para',
            data: artan_para_data,
            borderColor: 'rgb(255, 99, 132)',
            backgroundColor: 'rgba(255, 99, 132, 0.5)'
          }, {
            label: 'Harcama',
            data: harcama_data,
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'rgba(54, 162, 235, 0.5)'
          }, {
            label: 'Komisyon Geliri',
            data: komisyon_geliri_data,
            borderColor: 'rgb(75, 192, 192)',
            backgroundColor: 'rgba(75, 192, 192, 0.5)'
          }]
        },
        options: {}
      });

      // Veri tablosunu oluştur.
      $('#table').empty();
      $('#table').append('<tr><th>Tarih</th><th>Artan Para</th><th>Harcama</th><th>Komisyon Geliri</th></tr>');

      for (var key in filteredData) {
        var item = filteredData[key];

        $('#table').append('<tr><td>' + item.tarih + '</td><td>' + item.artan_para + '</td><td>' + item.harcama + '</td><td>' + item.komisyon_geliri + '</td></tr>');
      }

      // Selectbox'dan seçilen şehre göre grafiği yeniden çiz.
      $('#city_selector').on('change', function() {
        var selectedCity = $(this).val();
        drawCharts(selectedCity);
      });
    });
  }
</script>
        


<script>
    // şehir seçimi sonrası fonksiyonu tekrar çağır
    $('#city_selector').change(function(){
        var selectedCity = $(this).val();
        drawCharts(selectedCity);
    });
</script>

<script>
    $(document).ready(function() {
      const startInput = $('#start');
      const endInput = $('#end');
      const select = $('#select');
  
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();
      const currentMonth = currentDate.getMonth() + 1;
      const minMonth = `${currentYear}-${(currentMonth).toString().padStart(2, '0')}`;
      startInput.attr('min', '1900-01');
      endInput.attr('min', minMonth);
  
      startInput.on('change', function() {
        const startValue = startInput.val();
        endInput.attr('min', startValue);
      });
  
      select.on('change', function() {
        const numberOfMonths = select.val();
        const startDate = new Date(currentYear, currentMonth - numberOfMonths, 1);
        const startYear = startDate.getFullYear();
        const startMonth = startDate.getMonth() + 1;
        const startMonthAsString = startMonth.toString().padStart(2, '0');
        startInput.val(`${startYear}-${startMonthAsString}`);
        endInput.val(minMonth);
      });
  
      select.val("6").trigger('change');
    });
  </script>
  
{% endblock %}