{% extends "modul__base_yeni.html" %}
{% block styles %}


{% endblock %}


{% block title %}HızlıKredi | En Hızlı Taşıt Kredisi{% endblock %}



{% block content %}
<div class="card-rounded bg-light d-flex flex-wrap p-5 mb-5">
    <div class="row w-100 align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
        
        <label for="" class="form-label">Başlangıç</label>
        <input class="form-control guncelleme" type="month" id="start" name="start">
    </div><div class="col-sm-12 col-md-6 col-lg-3 mb-3 mb-lg-0">

        <label for="" class="form-label">Bitiş</label>
        <input  class="form-control guncelleme"  type="month" id="end" name="end">
    </div><div class="col-sm-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
        <label for="" class="form-label">Hazır Seçenekler</label>
        <select class="form-select guncelleme" data-control="select2" id="select">
            <option value="1">Son 1 Ay</option>
            <option value="3">Son 3 Ay</option>
            <option value="6">Son 6 Ay</option>
            <option value="12">Son 1 Yıl</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
        <!--begin::Nav-->
        <label for="" class="form-label">Saha</label>
        <ul class="nav flex-wrap border-transparent fw-bold" style="width: 250px !important"><!-- Add inline CSS to set the width -->
            <!--begin::Nav item-->
            <li class="nav-item my-1">
                <select class="form-select guncelleme" data-control="select2" id="saha_sorumlusu_secimi">
                    <option value="Tüm">Tüm Personel</option>
                </select>
            </li>
            <!--end::Nav item-->
        </ul>
        <!--end::Nav-->
      </div>
      
    </div>
  </div>

<div style="height: 300px">
    <canvas id="chart1"></canvas>
</div>
<div style="height: 100px">
    <canvas id="chart2"></canvas>
  </div>

<table id="table" class="table table-striped table-row-bordered  gy-5 gs-7 mt-10"></table>


{% endblock %}



{% block scripts %} 
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@1.2.0"></script>
<script>
$(document).ready(function() {
    isFunctionExecuted = false;
    drawCharts();
});

function drawCharts(secili_saha_sorumlusu) {
  $.getJSON("/veriler", function(data) {
        // İlk tüm şehirler bilgisini al ve selectboxa ekle
    if (!isFunctionExecuted) {
            // Boş bir dizi oluşturalım
            let sahaSorumlulari = [];

            // Veri öğelerini döngüyle kontrol edelim
            for (let key in data) {
                for (let i = 0; i < data[key].length; i++) {
                    let sahaSorumlusu = data[key][i].saha_sorumlusu;

                    // Eğer bu değer daha önce eklenmediyse, diziye ekleyelim
                    if (!sahaSorumlulari.includes(sahaSorumlusu)) {
                        sahaSorumlulari.push(sahaSorumlusu);
                        $('#saha_sorumlusu_secimi').append($('<option>').text(sahaSorumlusu).attr('value', sahaSorumlusu));
                    }
                }
            }
            isFunctionExecuted = true;
    }

    
    // Yeni bir nesne oluştur
    const kisiBazindaData = {};

    // Her tarih için döngü oluştur
    for (const date in data) {
        // Yeni bir nesne oluştur
        const obj = {};
        
        // Her saha sorumlusu için döngü oluştur
        for (const item of data[date]) {
            const { saha_sorumlusu, komisyon_geliri, harcama, kredi_adedi } = item;
            
            // Saha sorumlusu zaten var mı kontrol et
            if (!obj[saha_sorumlusu]) {
                obj[saha_sorumlusu] = { komisyon_geliri: 0, harcama: 0, kredi_adedi: 0 };
            }
            
            // Komisyon gelirlerini ve harcamaları topla
            obj[saha_sorumlusu].komisyon_geliri += komisyon_geliri;
            obj[saha_sorumlusu].harcama += harcama;
            obj[saha_sorumlusu].kredi_adedi +=1;
        }
        
        // Yeni veri setine ekle
        kisiBazindaData[date] = obj;
    }
    // console.log(kisiBazindaData)

    // yukaridakinde herkesin ismi bazinda toplandi. bu isimleride yok sayarak topladi
    const groupedData = {};

    for (const key in kisiBazindaData) {
        const [month, year] = key.split("-");
        if (!groupedData[`${month}-${year}`]) {
            groupedData[`${month}-${year}`] = {
            "komisyon_geliri": 0,
            "harcama": 0,
            "kredi_adedi": 0
            };
        }
        
        for (const person in kisiBazindaData[key]) {
            const { komisyon_geliri, harcama, kredi_adedi } = kisiBazindaData[key][person];
            groupedData[`${month}-${year}`]["komisyon_geliri"] += komisyon_geliri;
            groupedData[`${month}-${year}`]["harcama"] += harcama;
            groupedData[`${month}-${year}`]["kredi_adedi"] += kredi_adedi;
        }
    }

    // Saha sorumlularina göre filtreleme yap.
    var filteredData = {};
    
    if (secili_saha_sorumlusu === "Tüm" || !secili_saha_sorumlusu) {
    filteredData = groupedData;
    //   console.log(filteredData)
    } else {
        const kisiTekilData = {};
        for (const key in kisiBazindaData) {
            const [month, year] = key.split("-");
            if (!kisiTekilData[`${month}-${year}`]) {
                kisiTekilData[`${month}-${year}`] = {
                "komisyon_geliri": 0,
                "harcama": 0,
                "kredi_adedi": 0
                };
            }
            
            if(kisiBazindaData[key][secili_saha_sorumlusu]){
                kisiTekilData[`${month}-${year}`] = kisiBazindaData[key][secili_saha_sorumlusu]
            }
        }
        filteredData = kisiTekilData
    }

   
    
    // Grafiği oluştur.
    var aylar = getMonthsInRange()

    var labels = [];
    var net_kar_data = [];
    var harcama_data = [];
    var komisyon_geliri_data = [];
    var kredi_adedi_data = [];

    for (var key of aylar) {
      var item = filteredData[key];
    //   console.log(key)
    //   console.log(filteredData)
    //   console.log(item)
      if (item){
        net_kar_data.push(item.komisyon_geliri - item.harcama);
        harcama_data.push(item.harcama);
        komisyon_geliri_data.push(item.komisyon_geliri);
        kredi_adedi_data.push(item.kredi_adedi);
      } else{
        net_kar_data.push(0);
        harcama_data.push(0);
        komisyon_geliri_data.push(0);
        kredi_adedi_data.push(0);
      }
    }

    var ctx1 = document.getElementById('chart1').getContext('2d');
    var chart1 = new Chart(ctx1, {
      type: 'line',
      data: {
        labels: getMonthsInRange(),
        datasets: [{
          label: 'Komisyon Geliri',
          data: komisyon_geliri_data,
          borderColor: 'rgb(54, 162, 235)',
          backgroundColor: 'rgba(54, 162, 235, 0.3)',
          cubicInterpolationMode: 'monotone',
          fill: true,
          
        }, {
          label: 'Net Kar',
          data: net_kar_data,
          borderColor: 'rgb(75, 192, 192)',
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          cubicInterpolationMode: 'monotone',
        }, {
          label: 'Harcama',
          data: harcama_data,
          borderColor: 'rgb(255, 99, 132)',
          backgroundColor: 'rgba(255, 99, 132, 0.3)',
          cubicInterpolationMode: 'monotone',
          fill: true
          
        }]
      },
      options: {  
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'right'
                },
                crosshair: {
                    line:{
                        width:3,
                    },
                    sync: {
                        enabled: true,
                    },
                },
                tooltip: {
                    mode: 'interpolate',
                    intersect: false
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0
                }
            },
        }
    });

    var ctx2 = document.getElementById('chart2').getContext('2d');
    var chart2 = new Chart(ctx2, {
        type: 'line', // bar yerine line
        data: {
            labels: getMonthsInRange(),
            datasets: [{
                label: 'Kredi Adedi',
                data: kredi_adedi_data,
                borderColor: 'rgba(255, 205, 86, 1)',
                borderWidth: 1,
                fill: true,
                cubicInterpolationMode: 'monotone',
            }]
        },
        options: {  
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'right'
                },
                crosshair: {
                    line:{
                        width:3,
                    },
                    sync: {
                        enabled: true,
                    },
                    tooltip: {
                        mode: 'interpolate',
                        intersect: false
                    }
                }
            },
            layout: {
                padding: {
                    left: 30,
                    right: 19
                }
            },
        }
    });

    // Veri tablosunu oluştur.
    $('#table').empty();
    $('#table').append('<thead><tr class="fw-semibold fs-6 text-gray-800 table-secondary"><th>Tarih</th><th>Kredi Adedi</th><th>Komisyon Geliri</th><th>Harcama</th><th>Net Kar</th></tr></thead>');
    console.log(filteredData)
    for (var key in filteredData) {
        var item = filteredData[key];
        if(!(item.komisyon_geliri === 0 && item.harcama === 0 && item.kredi_adedi === 0)){
            $('#table').append('<tr><td>' + key + '</td><td>' + item.kredi_adedi + '</td><td class="tl_donustur_tablo">'  + item.komisyon_geliri + '</td><td class="tl_donustur_tablo">' + item.harcama + '</td><td class="tl_donustur_tablo">' + (item.komisyon_geliri-item.harcama ) +  '</td></tr>');
        }
    }
    $('.tl_donustur_tablo').each(function() {
		var deger = parseFloat($(this).text());
		var tlDegeri = new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(deger);
		$(this).text(tlDegeri);
	});

    // Selectbox'dan seçilen şehre göre grafiği yeniden çiz.
    $('.guncelleme').on('change', function() {
        var secili_saha_sorumlusu = $('#saha_sorumlusu_secimi').val();

        if (chart1 && chart2) {
            chart1.destroy();
            chart2.destroy();
        }

        drawCharts(secili_saha_sorumlusu);
    });
  });
}
</script>

<script>
function getMonthsInRange() {
    const startInput = $('#start');
    const endInput = $('#end');
    const startDate = new Date(startInput.val());
    const endDate = new Date(endInput.val());

    let months = [];
    let currentDate = new Date(startDate);
    while (currentDate <= endDate) {
        const month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
        const year = currentDate.getFullYear();
        months.push(`${month}-${year}`);
        currentDate.setMonth(currentDate.getMonth() + 1);
    }
    return months;
}

</script>
<script>
    $(document).ready(function() {
      const startInput = $('#start');
      const endInput = $('#end');
      const select = $('#select');
  
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();
      const currentMonth = currentDate.getMonth() + 1;
      const minMonth = `${currentYear}-${(currentMonth).toString().padStart(2, '0')}`;
      startInput.attr('min', '1900-01');
      endInput.attr('min', minMonth);
  
      startInput.on('change', function() {
        const startValue = startInput.val();
        endInput.attr('min', startValue);
      });
  
      select.on('change', function() {
        const numberOfMonths = select.val();
        const startDate = new Date(currentYear, currentMonth - numberOfMonths, 1);
        const startYear = startDate.getFullYear();
        const startMonth = startDate.getMonth() + 1;
        const startMonthAsString = startMonth.toString().padStart(2, '0');
        startInput.val(`${startYear}-${startMonthAsString}`);
        endInput.val(minMonth);
      });

        // startInput.on('change', handleInputChange);
        // endInput.on('change', handleInputChange);
        // select.on('change', handleInputChange);

        // function handleInputChange() {
        //     const startDate = new Date(startInput.val());
        //     const endDate = new Date(endInput.val());

        //     const startYear = startDate.getFullYear();
        //     const startMonth = startDate.getMonth() + 1;
        //     const startMonthAsString = startMonth.toString().padStart(2, '0');

        //     const endYear = endDate.getFullYear();
        //     const endMonth = endDate.getMonth() + 1;
        //     const endMonthAsString = endMonth.toString().padStart(2, '0');

        //     console.log(`${startMonthAsString}-${startYear}`, `${endMonthAsString}-${endYear}`);
            
        // }
  
      select.val("6").trigger('change');
    });
  </script>
  <script>
    $("#table").DataTable({
        "scrollY": "500px",
        "scrollCollapse": true,
        "paging": false,
        "dom": "<'table-responsive'tr>"
    });
  </script>
{% endblock %}