{% extends "modul__base_yeni.html" %}
{% block styles %}


{% endblock %}


{% block title %}HızlıKredi | En Hızlı Taşıt Kredisi{% endblock %}



{% block content %}
<div class="card-rounded bg-light d-flex flex-wrap p-5 mb-5">
    <div class="row w-100 align-items-center">
      <div class="col-lg-3 mb-3 mb-lg-0">
        <input class="form-control form-control" placeholder="Tarih Aralığı Seçin" id="tarih_araligi_secimi"/>
      </div>
      <div class="col-lg-3 mb-3 mb-lg-0">
        <!--begin::Nav-->
        <ul class="nav flex-wrap border-transparent fw-bold" style="width: 250px !important"><!-- Add inline CSS to set the width -->
            <!--begin::Nav item-->
            <li class="nav-item my-1">
                <select class="form-select" data-control="select2" id="city_selector">
                    <option value="Tüm">Tüm Şehirler</option>
                </select>
            </li>
            <!--end::Nav item-->
        </ul>
        <!--end::Nav-->
      </div>
      <div class="col-lg-6">
        <!--begin::Action-->
        <div class="ms-auto">
          <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_new_ticket" class="btn btn-primary fw-bold fs-8 fs-lg-base me-2">Para Durumu</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_new_ticket" class="btn btn-primary fw-bold fs-8 fs-lg-base">Kredi Kuruluşları</a>
        </div>
        <!--end::Action-->
      </div>
    </div>
  </div>
  
  


<div class="py-5">
    <div id="chart_div"></div>
</div>
<div id="table_div" class="py-5"></div>


{% endblock %}



{% block scripts %} 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['corechart', 'table']});
        google.charts.setOnLoadCallback(drawCharts);

        let isFunctionExecuted = false;
        
        function drawCharts(selectedCity) {
            $.ajax({
                url: "/veriler",
                type: "GET",
                success: function(data){
                    
                    // ilk tum sehirler bilgisini al ve selectboxa ekle
                    if (!isFunctionExecuted) {
                        var uniqueCities = [];
      
                        for(var key in data){
                            if(uniqueCities.indexOf(data[key].sehir) === -1){
                            uniqueCities.push(data[key].sehir);
                            }
                        }
                        
                        for(var i=0; i<uniqueCities.length; i++) {
                            $('#city_selector').append($('<option>').text(uniqueCities[i]).attr('value', uniqueCities[i]));
                        }
                        
                        // Değişkeni true olarak ayarlayın.
                        isFunctionExecuted = true;
                    }
                    
                    // sehirlerin bilgisini suz
                    var filteredData = {};
                    console.log(selectedCity)
                    if (selectedCity === undefined || selectedCity==='Tüm') {
                        filteredData = data;
                    } else {
                        for(var key in data){
                            if(data[key].sehir === selectedCity){
                                filteredData[key] = data[key];
                            }
                        }
                    }
                    
                    var tarihler = Object.keys(filteredData); // ["01", "03"]
                    var veriler = tarihler.map(function(tarih){ return filteredData[tarih]; });
                    
                    // Google Charts için veri hazırlama.
                    var artan_paralar = veriler.map(function(veri){ return [veri.tarih, veri.artan_para]; });
                    
                    var tableData = veriler.map(function(veri){
                    return [veri.tarih, 
                            veri.sehir,
                            veri.kredi_adedi.toLocaleString(), 
                            veri.komisyon_geliri.toLocaleString() + ' TL', 
                            veri.harcama.toLocaleString() + ' TL', 
                            veri.artan_para.toLocaleString() + ' TL'];
                    });

                    console.log(tableData)
                    
                    // Çizgi grafiği oluşturun.
                    var chartData = new google.visualization.DataTable();
                    chartData.addColumn('string', 'Tarih');
                    chartData.addColumn('number', 'Artan Para');
                    
                    // eger tum sehirler seciliyse her tarihteki artan paralari topla. grafik icin
                    if (selectedCity === undefined || selectedCity==='Tüm') {
                        var artan_paralar = veriler.reduce(function(acc, veri) {
                            var index = acc.findIndex(function(item) {
                                return item[0] === veri.tarih;
                            });
                            if(index === -1) {
                                acc.push([veri.tarih, veri.artan_para]);
                            } else {
                                acc[index][1] += veri.artan_para;
                            }
                            return acc;
                            }, []);
                    } 
                    
                    chartData.addRows(artan_paralar);

                    //çizgi grafik
                    google.charts.load('current', { 
                        'packages': ['corechart', 'line', 'material'], 
                        'language': 'tr' 
                    });

                    
                    var chartOptions = {
                        title: 'Artan Para',
                        titleTextStyle: {
                            fontSize: 24,
                            bold: true, 
                            color: 'black' // siyah renk eklendi
                        },
                        hAxis: { title: 'Tarih' },
                        vAxis: {
                            format: '# TL',
                            viewWindow: {
                                min: 0,
                                max: 'auto'
                            }
                        },
                        theme: 'material',
                    };
                    

                    
                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(chartData, chartOptions);
                    
                    // veri tablosu
                    var options1 = {
                        backgroundColor: "#f9f9f9",
                        showRowNumber: false,
                        width: '100%',
                        height: '100%',
                        textStyle: {color: '#333', fontSize: 16, fontName: 'Arial'},
                        headerStyle: {backgroundColor: '#00A0E9', fontSize: 20, color: '#fff', padding: '10px 20px'},
                        alternatingRowStyle: {backgroundColor: '#E7F1F5'},
                        cssClassNames: {
                            headerRow: 'header-row',
                            tableRow: 'table-row',
                            oddTableRow: 'odd-table-row',
                            selectedTableRow: 'selected-table-row',
                            hoverTableRow: 'hover-table-row',
                            headerCell: 'header-cell',
                            tableCell: 'table-cell'
                        }
                    };

                    var table = new google.visualization.Table(document.getElementById('table_div'));
                    table.draw(google.visualization.arrayToDataTable([['Tarih','Şehir','Kredi Adedi', 'Komisyon Geliri', 'Harcama', 'Artan Para']].concat(tableData)), options1);


                }
            });
        }
    </script>

<script>
    // şehir seçimi sonrası fonksiyonu tekrar çağır
    $('#city_selector').change(function(){
        var selectedCity = $(this).val();
        drawCharts(selectedCity);
    });
</script>

<script>
    var start = moment().subtract(29, "days");
    var end = moment();

    function cb(start, end) {
        $("#tarih_araligi_secimi").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
    }

    $("#tarih_araligi_secimi").daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
        "Bu Gün": [moment(), moment()],
        "Dün": [moment().subtract(1, "days"), moment().subtract(1, "days")],
        "Son 7 Gün": [moment().subtract(6, "days"), moment()],
        "Son 30 Gün": [moment().subtract(29, "days"), moment()],
        "Bu Ay": [moment().startOf("month"), moment().endOf("month")],
        "Geçen Ay": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
        }
    }, cb);

    cb(start, end);
</script>
{% endblock %}