{% extends "modul__base_yeni.html" %}
{% block styles %}
<style>

</style>
{% endblock %}


{% block title %}HızlıKredi | En Hızlı Taşıt Kredisi{% endblock %}


{% block content %}
<div class="card-rounded bg-light d-flex flex-wrap p-5 mb-5">
    <div class="row w-100 align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
        
        <label for="" class="form-label">Başlangıç</label>
        <input class="form-control guncelleme" type="month" id="start" name="start">
    </div><div class="col-sm-12 col-md-6 col-lg-3 mb-3 mb-lg-0">

        <label for="" class="form-label">Bitiş</label>
        <input  class="form-control guncelleme"  type="month" id="end" name="end">
    </div><div class="col-sm-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
        <label for="" class="form-label">Hazır Seçenekler</label>
        <select class="form-select guncelleme" data-control="select2" id="select">
            <option value="1">Son 1 Ay</option>
            <option value="3">Son 3 Ay</option>
            <option value="6">Son 6 Ay</option>
            <!-- <option value="12">Son 1 Yıl</option> -->
        </select>
      </div>
      
      
    </div>
  </div>
<div class="card card-bordered">
    <div class="card-body" style="height: 400px">
        <canvas id="myChart"></canvas>
    </div>
</div>


{% endblock %}



{% block scripts %} 
<script>
    
</script>

 
    
    <script>
        // hazir tarih secimi icin
        $(document).ready(function() {
          const startInput = $('#start');
          const endInput = $('#end');
          const select = $('#select');
      
          const currentDate = new Date();
          const currentYear = currentDate.getFullYear();
          const currentMonth = currentDate.getMonth() + 1;
          const minMonth = `${currentYear}-${(currentMonth).toString().padStart(2, '0')}`;
          startInput.attr('min', '2022-10');
          endInput.attr('min', minMonth);
      
          startInput.on('change', function() {
            const startValue = startInput.val();
            endInput.attr('min', startValue);
          });
      
          select.on('change', function() {
            const numberOfMonths = select.val();
            const startDate = new Date(currentYear, currentMonth - numberOfMonths, 1);
            const startYear = startDate.getFullYear();
            const startMonth = startDate.getMonth() + 1;
            const startMonthAsString = startMonth.toString().padStart(2, '0');
            startInput.val(`${startYear}-${startMonthAsString}`);
            endInput.val(minMonth);
          });
      
          select.val("6").trigger('change');
        });
      </script>

<script>
    // tablodaki tarihlerin dogru siralanmasi icin kullaniyorum
    function getMonthsInRange() {
        const startInput = $('#start');
        const endInput = $('#end');
        const startDate = new Date(startInput.val());
        const endDate = new Date(endInput.val());
    
        let months = [];
        let currentDate = new Date(startDate);
        while (currentDate <= endDate) {
            const month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
            const year = currentDate.getFullYear();
            months.push(`${month}-${year}`);
            currentDate.setMonth(currentDate.getMonth() + 1);
        }
        return months;
    }
    
</script>

<script>

var myChart;

async function createChart() {
  var data = {
    labels: [],
    datasets: []
  };

  try {
    var response = await $.ajax({
      url: '/veriler_banka',
      dataType: 'json',
      timeout: 5000 // add a timeout to avoid indefinite hangs
    });
  } catch (error) {
    console.error('Error fetching data:', error);
    return;
  }

  var labels = getMonthsInRange();
  var datasets = [];

  // loop through each bank
  if (response[labels[0]]) {
    for(var banka in response[labels[0]]) {
      var onaylar = [];
      var reddetmeler = [];

      // loop through each month and add data to arrays
      for(var i = 0; i < labels.length; i++) {
        var label = labels[i];

        onaylar.push(response[label]?.[banka]?.onay ?? null);
        reddetmeler.push(response[label]?.[banka]?.red ?? null);
      }

      // add datasets for this bank to array
      datasets.push({
        label: banka + '  Onay',
        data: onaylar,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
      }, {
        label: banka + ' Red',
        data: reddetmeler,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1
      });
    }
  }

  // fill in data object with labels and datasets arrays
  data.labels = labels;
  data.datasets = datasets;

  // create new chart or update existing one
  var ctx = document.getElementById('myChart').getContext('2d');
  if (typeof myChart !== 'undefined') {
    myChart.destroy();
  }
  myChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {  
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'right'
                },
                
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0
                }
            },
        }
  });
}


// Sayfa yüklendiğinde fonksiyonu çağırın ve mevcut grafik nesnesini yok edin
$(document).ready(function() {
  if (typeof myChart !== 'undefined') {
    myChart.destroy();
  }
  createChart();
});

// .guncelleme elemanı değiştirildiğinde fonksiyonu çağırın ve mevcut grafik nesnesini yok edin
$('.guncelleme').on('change', function() {
  if (typeof myChart !== 'undefined') {
    myChart.destroy();
  }
  createChart();
});


</script>
{% endblock %}