<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Başarılı Bir Şekilde Kaydedildi</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Başarılı Bir Şekilde Kaydedildi!</h1>

    {% if tc %}
      <p>
      <strong>{{ tc }}</strong> kimlik numaralı musteri {{current_user}}
      tarafindan kaydedildi.
    </p>
    {% endif %}
    
    {% if username %}
      <p>
      <strong>{{ username }}</strong> isimli kullanici yaratildi
    </p>
    {% endif %}
  </body>
</html>
