{% extends "base.html" %} {% block title %}Ana Sayfa{% endblock %} {% block
content %}

<p>Seçili müşteri kaydını bot yazılımları kullanacaktır.</p>
<h1>Musteriler</h1>

<table>
  <thead>
    <tr>
      
      <th>TC</th>
      <th>İsim</th>
      <th>Doğum Tarihi</th>
      <th>Telefon</th>

      <th>Kredi Miktar</th>
      <th>Kredi Vadesi</th>
      <th>İl</th>
      <th>Seçim Butonu</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in data %} 
    
    {% if lstest_customer_id|string == customer._id|string %}
        <tr style="background-color: #83d092">
    {% else %}
        <tr>
    {% endif %}

      
      <td>{{ customer.tc }}</td>
      <td>{{ customer.ad_soyad }}</td>
      <td>{{ customer.dogum_tarihi }}</td>
      <td>{{ customer.telefon }}</td>

      <td>{{ customer.kredi_miktar }}</td>
      <td>{{ customer.kredi_vadesi }}</td>
      <td>{{ customer.il_secimi }}</td>
      <td>
        <button onclick="addSelectedCustomer('{{ customer._id }}')">Seç</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <!-- Pagination linkleri -->
  {% if metadata.page > 1 %}
  <a
    href="{{ url_for('get_customers', page=metadata.page-1, per_page=metadata.per_page) }}"
    >Onceki</a
  >
  {% endif %} {% if metadata.page < metadata.total_pages %}
  <a
    href="{{ url_for('get_customers', page=metadata.page+1, per_page=metadata.per_page) }}"
    >Sonraki</a
  >
  {% endif %}
</div>

<script type="text/javascript">
  function addSelectedCustomer(customerId) {
    $.ajax({
      url: "/add_customer_selection",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({ customer_id: customerId }),
      success: function (response) {
        //alert("Müşteri seçimi kaydedildi!");
        window.location.reload();
      },
      error: function (error) {
        alert("Hata oluştu!");
        console.log(error);
      },
    });
  }
</script>

{% endblock %}
