{% extends "modul__base_yeni.html" %}



{% block title %}HızlıKredi | En Hızlı Taşıt Kredisi{% endblock %}



{% block content %}

{% include 'admin/harcamalar.html' %}

{% endblock %}



{% block scripts %} 
<script>
    // harcam tarihi seçimi bolumu için js,
    $("#harcama_tarihi").daterangepicker({
      singleDatePicker: true,
      showDropdowns: false,
      autoApply: true,
      locale: {
        format: "DD.MM.YYYY",
      },
    });

// harcama ekleme butonu
$(document).ready(function() {
    $('#harcamaEkleButon').on('click', function(event) {
        event.preventDefault(); // Prevent default form submission behavior
        
        // Get the input value
        const harcama_tarihi = $('#harcama_tarihi').val();
        const harcama_kisi_secimi = $('#harcama_kisi_secimi').val();
        const harcama_aciklamasi = $('#harcama_aciklamasi').val();
        const tutar = $('#tutar').val();
        

        // Check if input value is empty
        if (tutar === '') {
            toastr.error("Harcama tutari boş olamaz.", "Hata");
            return; // Exit the function if input is empty
        }
        $(this).attr("data-kt-indicator", "on");

        // Make an AJAX request with the input value
        $.ajax({
            url: '/harcama_islemleri',
            method: 'POST',
            contentType: 'application/json', // Set content type header
            data: JSON.stringify({
                harcama_tarihi: harcama_tarihi,
                harcama_kisi_secimi: harcama_kisi_secimi,
                harcama_aciklamasi: harcama_aciklamasi,
                tutar: tutar
            }), // Convert data to JSON string
            success: function(response) {
                $('#harcama_tarihi').val('');  // Clear the input field after successful submission
                $('#harcama_kisi_secimi').val('').trigger('change');
                $('#harcama_aciklamasi').val('');
                $('#tutar').val('');

                $("#harcamaEkleButon").removeAttr("data-kt-indicator");

                toastr.success("Harcama eklendi.", "Kayıt edildi");

            },
            error: function(xhr, status, error) {
                $("#harcamaEkleButon").removeAttr("data-kt-indicator");
                console.log('hata var');
            }
        });
    });
});


// harcama sil butonu basıldıgında yapılacaklar
$(document).ready(function() {
  $('.harcama_sil_buton').click(function(event) {
    event.preventDefault();
    var harcamaid = $(this).data('harcamaid');
    

    $.ajax({
      type: 'POST',
      url: '/harcama_sil', // Silme işlemini yapacak PHP dosyasının adı ve yolunu buraya yazmalısınız.
      data: { harcamaid: harcamaid },
      success: function(response) {
        $('tr[data-harcamaid="' + harcamaid + '"]').remove();
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
  });
});

</script>
{% endblock %}

