<!DOCTYPE html>
<html lang="en">
	<!--begin::Head-->
	<head><base href="{{ url_for('static', filename='') }}"/>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="description" content="HızlıKredi, en kolay taşıt kredisi için hizmetinizde. Hemen başvurun ve aracınızı hayalinizdeki gibi alın!" />
		<meta name="keywords" content="taşıt kredisi, araç kredisi, kredi, hızlı kredi" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="tr_TR" />
		<meta property="og:type" content="contact" />
		<meta property="og:title" content="HızlıKredi, en kolay taşıt kredisi için hizmetinizde. Hemen başvurun ve aracınızı hayalinizdeki gibi alın!" />
		<meta property="og:url" content="https://hizlikredi.net.tr" />
		<meta property="og:site_name" content="HizliKredi | En Kolay Oto Kredi" />
		<link rel="canonical" href="https://hizlikredi.net.tr" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='assets/media/logos/favicon.ico') }}" />
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Vendor Stylesheets(used for this page only)-->
		<link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/custom/vis-timeline/vis-timeline.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css?v=1.3" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
		<link href="assets/css/loader.css" rel="stylesheet" type="text/css" />
        {% block styles %}{% endblock %}
		<style>
			
			@media (max-width: 991px) {
				#kt_app_header {
					background-color: #2e2e2f;
				}
			}
		</style>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6C1VT66KFV"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-6C1VT66KFV');
		</script>
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_app_body" data-kt-app-header-fixed-mobile="true" data-kt-app-toolbar-enabled="true" class="app-default">
		<!--  PRELOADER  -->
		<div class="loader-area">
			<div class='loader'>
				<div class='one'></div>
				<div class='two'></div>
				<div class='three'></div>
			</div>
		</div>

		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::App-->
		<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
			<!--begin::Page-->
			<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
				<!--begin::Header-->
                {% include 'modul__base_yeni_header.html' %}
				<!--end::Header-->
				<!--begin::Wrapper-->
				<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
					<!--begin::Hero-->
					{% include 'modul__base_yeni_hero.html' %}
					<!--end::Hero-->
					<!--begin::Wrapper container-->
					<div class="app-container container-xxl">
						<!--begin::Main-->
						<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
							<!--begin::Content wrapper-->
							<div class="d-flex flex-column flex-column-fluid">
								<!--begin::Content-->
								<div id="kt_app_content" class="app-content" style="box-shadow: 1px 9px 5px #2d2d2d;">

                                    {% include 'modul__base_yeni_altmenu.html' %}
									<!--begin::Content-->
                                        {% block content %} {% endblock %} 
                                    <!--end::Content-->

								</div>
								<!--end::Content-->
							</div>
							<!--end::Content wrapper-->
							<!--begin::Footer-->
							<div id="kt_app_footer" class="app-footer d-flex flex-column flex-md-row align-items-center flex-center flex-md-stack py-2 py-lg-4">
								<!--begin::Copyright-->
								<div class="text-dark order-2 order-md-1">
									<span class="text-gray-400 fw-semibold me-1">2022&copy;</span>
									<a href="https://hizlikredi.net.tr"  class="text-gray-400 text-hover-primary">Hızlı Kredi</a>
								</div>
								<!--end::Copyright-->
								<!--begin::Menu-->
								<ul class="menu menu-gray-400 menu-hover-primary fw-semibold order-1">
									<li class="menu-item">
										<a href="{{ url_for('hakkimizda') }}"  class="menu-link px-2">Hakkında</a>
									</li>
									<li class="menu-item">
										<a href="{{ url_for('destek') }}"  class="menu-link px-2">Destek</a>
									</li>
								</ul>
								<!--end::Menu-->
							</div>
							<!--end::Footer-->
						</div>
						<!--end:::Main-->
					</div>
					<!--end::Wrapper container-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::App-->
		<!--begin::Drawers-->
		<!--begin::Activities drawer-->
		<div id="kt_activities" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="activities" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '700px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_activities_toggle" data-kt-drawer-close="#kt_activities_close">
			<div class="card shadow-none border-0 rounded-0">
				<!--begin::Header-->
				<div class="card-header" id="kt_activities_header">
					<h3 class="card-title fw-bold text-dark">Son İşlemler</h3>
					<div class="card-toolbar">
						<button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="kt_activities_close">
							<i class="ki-duotone ki-cross fs-1">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
						</button>
					</div>
				</div>
				<!--end::Header-->
				<!--begin::Body-->
				<div class="card-body position-relative" id="kt_activities_body">
					<!--begin::Content-->
					<div id="kt_activities_scroll" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_activities_body" data-kt-scroll-dependencies="#kt_activities_header, #kt_activities_footer" data-kt-scroll-offset="5px">
						{% include 'modules/gecici_guncellemeler.html' %}
					</div>
					<!--end::Content-->
				</div>
				<!--end::Body-->
				
			</div>
		</div>
		<!--end::Activities drawer-->
		
		<!--end::Drawers-->
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<i class="ki-duotone ki-arrow-up">
				<span class="path1"></span>
				<span class="path2"></span>
			</i>
		</div>
		<!--end::Scrolltop-->
		<!--begin::Modals-->
        <!--begin::Modal - Create Project-->
		    {% include 'modul_modal_kredi_basvuru_edit.html' %}
		<!--end::Modal - Create Project-->
		
		<!--end::Modals-->
		<!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="assets/js/widgets.bundle.js"></script>
		<script src="assets/js/custom/widgets.js"></script>
		<script src="assets/js/custom/apps/chat/chat.js"></script>
		<script src="assets/js/custom/utilities/modals/upgrade-plan.js"></script>
		<script src="assets/js/custom/utilities/modals/create-campaign.js"></script>
		<script src="assets/js/custom/utilities/modals/users-search.js"></script>
		<!--end::Custom Javascript-->
        <!--begin::Custom Javascript(used for this page only)-->
		<script src="{{ url_for('static', filename='assets/js/custom/utilities/modals/create-project/type.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom/utilities/modals/create-project/budget.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom/utilities/modals/create-project/settings.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom/utilities/modals/create-project/team.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom/utilities/modals/create-project/targets.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom/utilities/modals/create-project/files.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom/utilities/modals/create-project/complete.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/custom/utilities/modals/create-project/main.js') }}"></script>
		
		<!--end::Custom Javascript-->
        {% block scripts %} {% endblock %}
		<script>
			//tl gosterimi duzelt
			$(document).ready(function() {
				$('.tl_donustur').each(function() {
					var deger = parseFloat($(this).text());
					var tlDegeri = new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(deger);
					$(this).text(tlDegeri);
				});
			});
		</script>
		<!--end::Javascript-->
		<script src="assets/js/loader.js"></script>
	</body>
	<!--end::Body-->
</html>