<div id="kt_app_hero" class="app-hero py-6">
    <!--begin::Hero container-->
    <div id="kt_app_hero_container" class="app-container container-xxl d-flex">
        <!--begin::Hero wrapper=-->
        <div class="d-flex flex-stack flex-wrap flex-lg-nowrap flex-row-fluid gap-4 gap-lg-10 mb-10">
            <!--begin::Heading-->
            <div class="d-flex align-items-center me-3">
                <img alt="Logo" src="assets/media/svg/misc/layer.png" class="h-60px me-5" />
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-white fw-bolder fs-2 flex-column justify-content-center my-0">{{ user_data.gallery_name }} - {{ user_data.isim_soyisim }}
                <!--begin::Description-->
                <span class="page-desc text-white opacity-50 fs-6 fw-bold pt-4">{{ user_data.sehir }} - {{ user_data.yetki }}</span>
                <!--end::Description--></h1>
                <!--end::Title-->
            </div>
            <!--end::Heading-->
            <!--begin::Items-->
            <div class="d-flex gap-4 gap-lg-13">
                <!--begin::Item-->
                <div class="d-flex flex-column">
                    <!--begin::Number-->
                    <span class="text-white fw-bold fs-3 mb-1">3.233.467 TL</span>
                    <!--end::Number-->
                    <!--begin::Section-->
                    <div class="text-white opacity-50 fw-bold">30 Günlük Kullandırılan Kredi</div>
                    <!--end::Section-->
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex flex-column">
                    <!--begin::Number-->
                    <span class="text-white fw-bold fs-3 mb-1">222.748 TL</span>
                    <!--end::Number-->
                    <!--begin::Section-->
                    <div class="text-white opacity-50 fw-bold">30 Günlük Kar</div>
                    <!--end::Section-->
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex flex-column">
                    <!--begin::Number-->
                    <span class="text-white fw-bold fs-3 mb-1">3.8%</span>
                    <!--end::Number-->
                    <!--begin::Section-->
                    <div class="text-white opacity-50 fw-bold">Değişim (30 Gün)</div>
                    <!--end::Section-->
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex flex-column">
                    <!--begin::Number-->
                    <span class="text-white fw-bold fs-3 mb-1">-7.4%</span>
                    <!--end::Number-->
                    <!--begin::Section-->
                    <div class="text-white opacity-50 fw-bold">Değişim (7 Gün)</div>
                    <!--end::Section-->
                </div>
                <!--end::Item-->
            </div>
            <!--end::Items-->
        </div>
        <!--end::Hero wrapper=-->
    </div>
    <!--end::Hero container-->
</div>