<div class="modal bg-body fade" tabindex="-1" id="kt_modal_durum_guncelle">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content shadow-none">
            <div class="modal-header">
                <h5 class="modal-title"><span id="dosyaNumarasi"></span> Numaralı Dosya İşlem Geçmişi</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                
                <input type="text" class="form-control form-control-solid" name="dosya_id_durum" id="dosya_id_durum" style=" display: none; "/>

                <div class="row">
                    <div class="col-md-12 col-lg-6">

                        <button type="button" class="btn btn-light-warning durum">Devam</button>
                        <button type="button" class="btn btn-light-success durum">Kullandırıldı</button>
                        <button type="button" class="btn btn-light-danger durum">Sonlandı</button>

                    </div>
                    <div class="col-md-12 col-lg-6">

                        <div class="card mb-5 mb-xxl-8" data-select2-id="select2-data-150-n61t">
                            <!--begin::Header-->
                            <div class="card-header align-items-center border-0 mt-4">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="fw-bold mb-2 text-dark">Güncellemeler</span>            
                                    <span class="text-muted fw-semibold fs-7">.....</span>
                                </h3>
                        
                                <div class="card-toolbar" data-select2-id="select2-data-149-uha8">
                                    <!--begin::Menu-->
                                
                                    
                        
                        <!--end::Menu-->
                                </div>
                            </div>
                            <!--end::Header-->
                        
                            <!--begin::Body-->
                            <div class="card-body pt-5" id="eklenecekGuncellemeler">
                                <!--begin::Timeline-->
                                <div class="timeline-label">
                                    <!--begin::Item-->
                                    <div class="timeline-item">
                                        <!--begin::Label-->
                                        <div class="timeline-label fw-bold text-gray-800 fs-6">--:--</div>
                                        <!--end::Label-->
                        
                                        <!--begin::Badge-->
                                        <div class="timeline-badge">
                                            <i class="fa fa-genderless text-warning fs-1"></i>
                                        </div>
                                        <!--end::Badge-->
                        
                                        <!--begin::Text-->
                                        <div class="fw-mormal timeline-content text-muted ps-3">
                                            Yükleniyor... 
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                        
                                </div>
                                <!--end::Timeline-->
                            </div>
                            <!--end: Card Body-->
                        </div>

                    </div>
                  </div>
                



            </div>

            <div class="modal-footer">

                <div class="container-fluid">
                  <div class="row">
                    <div class="col-10">
                      <input type="text" class="form-control form-control-solid" id="myInputGuncelle">
                    </div>
                    <div class="col-2">
                        <button type="button" id="submitButtonGuncelle" class="btn btn-success border-0 px-3 px-lg-6" style="width: 100%;">Ekle</button>
                       
                    </div>
                  </div>
                </div>

              </div>
              
              
              
        </div>
    </div>
</div>



<script>
    // Guncellemeleri Ekle Modal içine dosya id si gönderme ve eski verileri getir
const buttons_guncelle = document.querySelectorAll('.dosyaDurumButonu');
buttons_guncelle.forEach(function(button) {
    button.addEventListener('click', function() {

        dosya_numaraaasi = button.dataset.dosya_numarasi;
        dosya_id = button.dataset.customerid;
        $('#dosya_id_durum').val(dosya_id);
        $('#dosyaNumarasi').text(dosya_numaraaasi)

        getDosyaGuncellemeleri(dosya_id);

    });
});

</script>


