

<form action="#">
    <!--begin::Card-->
    <div class="card mb-7">
        <!--begin::Card body-->
        <div class="card-body">
            <!--begin::Compact form-->
            <div class="d-flex align-items-center">
                <!--begin::Input group-->
                <div class="position-relative w-md-400px me-md-2">
                    <i class="ki-duotone ki-magnifier fs-3 text-gray-500 position-absolute top-50 translate-middle ms-6">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <input type="text" class="form-control form-control-solid ps-10" name="search" id="search" value="" placeholder="Ara">
                </div>
                <!--end::Input group-->
                <div class="card-toolbar flex-row-fluid justify-content-end gap-5" data-select2-id="select2-data-132-iud1">
                    <div class="d-flex align-items-center ms-auto">
                        <button id="aramaYapButonu" class="btn btn-primary me-5">Ara</button>              
                    </div>
                </div>
                <div class="app-navbar-item">
                    <a href="#" class="btn btn-sm btn-success d-flex flex-center ms-6 ps-3 pe-4 h-35px eskiBasvuru" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project" data-customerid="yeni">
                        <i class="ki-duotone ki-plus-square fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                        <span>Eski Kredi Dosyası</span>
                    </a>
                </div>
            </div>
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</form>

<div class="d-flex flex-wrap flex-stack pb-7">
    <!--begin::Title-->
    <div class="d-flex flex-wrap align-items-center my-1">
        <h3 class="fw-bold me-5 my-1">{{ metadata.total_customers }} Adet Dosya
        <span class="text-gray-400 fs-6">Dosya Tarihine Göre ↓</span></h3>
    </div>
    <!--end::Title-->
    <!--begin::Controls-->
    <div class="d-flex flex-wrap my-1">
        
        <!--begin::Actions-->
        <div class="d-flex my-0">
            
            <!--begin::Select-->
            <select name="status" data-control="select2" id="dosyalar_saha_personel_selector" data-hide-search="true" data-placeholder="Saha Personeli" class="form-select form-select-sm form-select-solid w-150px me-5">
                <option></option>
                <option value="Hepsi">Tüm Personel</option>
                <option value="Otovitrin Plaza">Otovitrin Plaza</option>
                <option value="Merkez">Merkez</option>
                <option value="Büşra">Büşra</option>
                <option value="Melisa">Melisa</option>
                <option value="Muhammet">Muhammet</option>
                <option value="Hamdi">Hamdi</option>
                <option value="Ümit">Ümit</option>
                <option value="Ahmet">Ahmet</option>
                <option value="İsmail">İsmail</option>
                <option value="Yusuf">Yusuf</option>
                <option value="Uğur">Uğur</option>
            </select>
            <!--end::Select-->
            <!--begin::Select-->
            <select name="status" data-control="select2" id="dosyalar_city_selector" data-hide-search="true" data-placeholder="Şehir Seçimi" class="form-select form-select-sm form-select-solid w-150px me-5">
                <option></option>
                <option value="Tüm">Tüm Şehirler</option>
                <option value="Denizli">Denizli</option>
                <option value="İzmir">İzmir</option>
                <option value="İstanbul">İstanbul</option>
                <option value="Ankara">Ankara</option>
            </select>
            <!--end::Select-->
            <!--begin::Select-->
            <select name="status" data-control="select2" id="dosyalar_durum_selector" data-hide-search="true" data-placeholder="Durum" class="form-select form-select-sm form-select-solid w-150px">
                <option></option>
                <option value="Hepsi">Tüm Durumlar</option>
                <option value="Devam">Devam Eden</option>
                <option value="Kullandırılacak">Kullandırılacak</option>
                <option value="Kullandırıldı">Kullandırıldı</option>
                <option value="Sonlandı">İşlem Sonlandı</option>
                <option value="Potansiyel">Potansiyel Müşteri</option>
            </select>
            
            <!--end::Select-->
        </div>
        <!--end::Actions-->
    </div>
    <!--end::Controls-->
</div>

<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
       
        
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                <!--begin::Table head-->
                <thead>
                    <tr class="fw-bold text-muted">
                        
                        <th class="col-1">Dosya Numarası</th>
                        <th class="col-1">Galeri</th>
                        <th class="col-2">Taşıt</th>
                        <th class="col">Müşteri</th>
                        <th class="col-3" style="min-width: 400px;">
                            <div style="float:left;">Durum</div>
                            <div style="float:right;">
                                <div class="progress-elem loading-buton-guncelleme hover-scale" style="max-width: 27px; margin-bottom: -20px; margin-right: 17px; margin-top: -5px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Güncelle">
                                    <svg style="transform: rotate(90deg)" height="100%" viewBox="0 0 110 110" width="100%">
                                        <!-- gray dashed -->
                                        <circle cx="50%" cy="50%" fill="none" stroke-width="20" r="40" stroke="#D4D4D8" stroke-dasharray="1.4137,1.4137"></circle>
                                        <!-- green solid -->
                                        <circle class="progress-bar" cx="50%" cy="50%" fill="none" stroke-width="20" r="40" stroke="#19C558" style="stroke-dashoffset: 103.044; stroke-dasharray: 251.327;"></circle>
                                        <!-- inner black stroke -->
                                        <circle cx="50%" cy="50%" fill="none" stroke-width="1.5" r="27.5" stroke="#27272A"></circle>
                                        <!-- outer black stroke -->
                                        <circle cx="50%" cy="50%" fill="none" stroke-width="1.5" r="52.5" stroke="#27272A"></circle>
                                        <g class="success" style="display:none;">
                                            <!-- inner solid green success -->
                                            <circle cx="50%" cy="50%" fill="#19C558" r="50"></circle>
                                            <!-- checkmark line -->
                                            <polyline points="55 80, 55 30" stroke="#fff" fill="none" stroke-width="10"></polyline>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </th>
                        
                        <th class="col text-end" style=" width: 180px; min-width: 180px;">İşlemler</th>
                    </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody>
                    
                    {% for customer in data %} 

                    {% if lstest_customer_id|string == customer._id|string %}
                    <tr style="background-color: #daf3ff; vertical-align: top; border-bottom-color: #d8d8d8;" data-customer-id="{{ customer._id }}">
                    {% else %}
                    <tr style="vertical-align: top; border-bottom-color: #d8d8d8;" data-customer-id="{{ customer._id }}">
                    {% endif %}

                        
                        <td>
                            <div class="position-relative ps-6 pe-3 ">
                                <div class="position-absolute start-0 top-0 w-4px h-100 rounded-2 solCizgi" data-customer-id="{{ customer._id }}" ></div>
                                <span class="text-dark fw-bold text-hover-primary fs-6 createdTime">{{ customer.created_time }}</span>
                                <div class="fs-7 text-muted fw-bold">{{ customer.dosya_numarasi }}</div>
                                <div class="fs-7 text-muted fw-bold">{{ customer.created_by_isim }}</div>
                            </div>
                        </td>
                        <td>
                            <span class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{ customer.galeri_ili }}</span>
                            <span class="text-muted fw-semibold text-muted d-block fs-7">{{ customer.galeri_adi }}</span>
                        </td>
                        <td style=" max-width: 135px;">
                            <span class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6 ">{{ customer.model_yili }}</span> 
                            <span class="text-muted fw-semibold text-muted d-block fs-7">{{ customer.marka_adi }}</span>
                            <span class="text-muted fw-semibold text-muted d-block fs-7">{{ customer.tip_adi }}</span>
                        </td>
                        <td style=" width: 135px;">
                            <span class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{ customer.adi }} {{ customer.soyadi }} </span>
                            <span class="text-muted fw-semibold text-muted d-block fs-7">{{ customer.musteri_cep_telefonu }}</span>
                            <span class="fw-semibold fw-bold  mb-1  fs-7">{{ customer.kredi_tutari }} TL</span>
                            <span class="text-muted fw-semibold text-muted fs-7">{{ customer.kredi_vadesi }} Ay</span>
                        </td>
                        
                        <td  data-customer-id="{{ customer._id }}" >    
                            
                        </td>
                        <td class="text-end">
                            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" onclick="addSelectedCustomer(event, '{{ customer._id }}'); return false;" >
                                <i class="ki-duotone ki-switch fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Seç">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </a>
                            <button type="button" class="btn btn-light btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 dosyaButonu" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project" data-customerid="{{ customer._id }}" >
                                <i class="ki-duotone ki-pencil fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Düzenle">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </button>
                            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm dosyaDurumButonu" data-bs-toggle="modal" data-bs-target="#kt_modal_durum_guncelle" data-customerid="{{ customer._id }}" data-dosya_numarasi = "{{ customer.dosya_numarasi }}" >
                                <i class="ki-duotone ki-gear fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Dosya İşlemleri">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                    <span class="path5"></span>
                                </i>
                            </a>
                            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 musteri_dosya_sil_butonu" data-customer_id="{{ customer._id }}" >
                                <i class="ki-duotone ki-trash fs-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Sil">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
            <div>
                <!-- Sayfa numaraları -->
                {% if metadata.total_pages > 1 %}
                  <ul class="pagination">
                    {% if metadata.page > 1 %}
                      <li class="page-item">
                        <a href="{{ url_for('get_basvurular', page=metadata.page-1, per_page=metadata.per_page, city=metadata.city, durum=metadata.durum, personel=metadata.saha_personeli) }}" class="page-link">&laquo;</a>
                      </li>
                    {% endif %}
              
                    {% for num in range(1, metadata.total_pages + 1) %}
                      {% if num == metadata.page %}
                        <li class="page-item active"><span class="page-link">{{ num }} <span class="sr-only">(guncel)</span></span></li>
                      {% else %}
                        <li class="page-item"><a href="{{ url_for('get_basvurular', page=num, per_page=metadata.per_page, city=metadata.city, durum=metadata.durum, personel=metadata.saha_personeli) }}" class="page-link">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
              
                    {% if metadata.page < metadata.total_pages %}
                      <li class="page-item">
                        <a href="{{ url_for('get_basvurular', page=metadata.page+1, per_page=metadata.per_page, city=metadata.city, durum=metadata.durum, personel=metadata.saha_personeli) }}" class="page-link">&raquo;</a>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
            </div>
              
        </div>
        <!--end::Table container-->
    </div>
    <!--begin::Body-->
</div>


{% include 'modul_modal_durum_guncelle.html' %}


<script type="text/javascript">
    // tarihi kisa goster
    const createdTimeElements = document.querySelectorAll('.createdTime');
    for (let i = 0; i < createdTimeElements.length; i++) {
        const date = new Date(createdTimeElements[i].textContent);
        const formattedDate = `${date.getDate().toString().padStart(2, "0")}/${(date.getMonth() + 1).toString().padStart(2, "0")}/${date.getFullYear().toString()}`;
        createdTimeElements[i].textContent = formattedDate;
    }

</script>

<script type="text/javascript">
    //secili dosyayı degıstırme masaustu uygulamasi icin
function addSelectedCustomer(event, customerId) {
  event.preventDefault();
  $.ajax({
    url: "/add_customer_selection",
    type: "POST",
    contentType: "application/json",
    data: JSON.stringify({ customer_id: customerId }),
    success: function (response) {
      //alert("Müşteri seçimi kaydedildi!");
      $('tr[data-customer-id]').css('background-color', '');
      $('tr[data-customer-id="' + customerId + '"]').css('background-color', '#daf3ff');
    //   window.location.reload();
    },
    error: function (error) {
      alert("Hata oluştu!");
      console.log(error);
    },
  });
}
</script>

<script>
    // Edit Modal içine dosya id si ve verileri gonderme
	const buttons = document.querySelectorAll('.dosyaButonu');
    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
        dosya_id = button.dataset.customerid;

        document.querySelector('[data-kt-element="files-next"]').querySelector('.indicator-label').textContent= 'Kaydet';

        document.getElementById("modal_dosya_baslik").innerHTML = '<h2 id="modal_dosya_baslik">Kredi Dosyası Düzenle<small class="ms-2 fs-7 fw-normal opacity-50"></small></h2>'

        $.ajax({
            url: "/id_ile_dosya_bilgisi_getir", // buradaki URL'yi API URL'inizle değiştirin
            type: "GET",
            data: {
                dosya_id: dosya_id,
            },
            success: function (response) {
                var data = JSON.parse(response)
                $('#dosya_id').val(dosya_id)
                $('select[name="il_secimi_is"]').val(data.il_secimi_is).trigger("change");
                $('select[name="vergi_dairesi_il"]').val(data.vergi_dairesi_il).trigger("change");
                $('select[name="il_secimi_ev"]').val(data.il_secimi_ev).trigger("change");
                $('select[name="model_yili"]').val(data.model_yili).trigger("change");
                $('select[name="saha_personeli"]').val(data.saha_personeli).trigger("change");
                
                $('input[name="galeri_telefonu"]').val(data.galeri_telefonu).trigger("input");
                
                $('input[name="sasi_no"]').val(data.sasi_no)
                $('input[name="motor_no"]').val(data.motor_no)
                $('input[name="tescil_belge_no"]').val(data.tescil_belge_no)
                $('input[name="arac_plakasi"]').val(data.arac_plakasi)
                $('input[name="arac_satis_tutari"]').val(data.arac_satis_tutari)
                $('input[name="kredi_tutari"]').val(data.kredi_tutari)
                $('input[name="kredi_vadesi"]').val(data.kredi_vadesi)
                $('input[name="musteri_cep_telefonu"]').val(data.musteri_cep_telefonu)
                $('input[name="tc"]').val(data.tc)
                $('input[name="adi"]').val(data.adi)
                $('input[name="soyadi"]').val(data.soyadi)
                $('input[name="kimlik_seri"]').val(data.kimlik_seri)
                $('input[name="dogum_tarihi"]').val(data.dogum_tarihi)
                $('select[name="egitim_durumu"]').val(data.egitim_durumu).trigger("change");
                $('select[name="meslek_gurubu"]').val(data.meslek_gurubu).trigger("change");
                $('select[name="meslek"]').val(data.meslek).trigger("change");
                $('input[name="aylik_gelir"]').val(data.aylik_gelir)
                $('select[name="sosyal_guvenlik"]').val(data.sosyal_guvenlik).trigger("change");
                $('select[name="sektor"]').val(data.sektor).trigger("change");
                $('input[name="calisma_suresi_yil"]').val(data.calisma_suresi_yil)
                $('input[name="calisma_suresi_ay"]').val(data.calisma_suresi_ay)
                
                
                $('input[name="vergi_no"]').val(data.vergi_no)
                $('select[name="ikamet_tipi"]').val(data.ikamet_tipi).trigger("change");
                
                
                $('input[name="mahalle_ev"]').val(data.mahalle_ev)
                $('input[name="ikamet_sure_ev"]').val(data.ikamet_sure_ev)
                $('textarea[name="acik_adres_ev"]').val(data.acik_adres_ev)
                $('input[name="isyeri_adi"]').val(data.isyeri_adi)
                $('input[name="isyeri_telefonu"]').val(data.isyeri_telefonu)
                
                
                $('input[name="mahalle_is"]').val(data.mahalle_is)
                $('textarea[name="acik_adres_is"]').val(data.acik_adres_is)
                // digerlerinin degisimi ile ortayacikanlar
                $('input[name="kaskokodu"]').val(data.kaskokodu).trigger("input");
                $('select[name="vergi_dairesi_ilce"]').val(data.vergi_dairesi_ilce).trigger("change");
                $('select[name="ilce_secimi_ev"]').val(data.ilce_secimi_ev).trigger("change");
                $('select[name="ilce_secimi_is"]').val(data.ilce_secimi_is).trigger("change");

                  // content classına sahip tüm divleri seçin
                const contentDivs = document.querySelectorAll('[data-kt-stepper-element="content"]');

                // Her bir div için döngü ile geçin
                for (let i = 0; i < contentDivs.length; i++) {
                // İlk div current sınıfına sahip olarak ayarlanır, diğerleri ise pending sınıfına sahip

                contentDivs[i].className = "current";
                }


                const elements = document.querySelectorAll('.edit_bolumu_icin_gizle');
                elements.forEach(element => {
                    element.style.setProperty('display', 'none', 'important');
                });

                document.querySelector('.dosya_tarihi_secimi_bolumu').style.display = 'none';

                // saha personeli secilemez
                document.getElementById("saha_personeli").disabled = true;
                
            },
            error: function (xhr) {
                // hata durumunda burası çalışır
                // console.log(xhr.responseText);
            },
            });
        });
    });



</script>

<script>
    // Eski kredi dosyasi kaydetme. normalden farki dosya tarihi gitilebilir. Kaydet dugmesının adını degıstır
const eskiBasvuruButon = document.querySelector('.eskiBasvuru');
    
eskiBasvuruButon.addEventListener('click', function() {
  dosya_id = 'eski';
  document.querySelector('[data-kt-element="files-next"]').querySelector('.indicator-label').textContent= 'Kaydet';
  document.getElementById("modal_dosya_baslik").innerHTML = '<h2 id="modal_dosya_baslik">Eski Kredi Dosyası Kaydet<small class="ms-2 fs-7 fw-normal opacity-50">Oluştur</small></h2>'

  // form verılerı varsa boşaltılır
  resetForm(dosya_id)

    // content classına sahip tüm divleri seçin
    const contentDivs = document.querySelectorAll('[data-kt-stepper-element="content"]');

    // Her bir div için döngü ile geçin
    for (let i = 0; i < contentDivs.length; i++) {
        // İlk div current sınıfına sahip olarak ayarlanır, diğerleri ise pending sınıfına sahip
        contentDivs[i].className = "current";
    }


    const elements = document.querySelectorAll('.edit_bolumu_icin_gizle');
    elements.forEach(element => {
        element.style.setProperty('display', 'none', 'important');
    });

    // dosya tarihi bolumunu goster
    document.querySelector('.dosya_tarihi_secimi_bolumu').style.display = 'block';

    // saha personeli secilebilir
    document.getElementById("saha_personeli").disabled = false;
    
})
    

</script>